Package: selenium-server
Version: VERSION 
Section: web
Maintainer: Jan Schumann <js@schumann-it.com>
Architecture: amd64
Depends: openjdk-6-jre | sun-java6-jdk
Priority: optional
Description: Selenuim Server Functional testing server 
 Contains start and stop scripts for the server 
